Repository Orbit-Org/Orbit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mzyxnuel, @TheInfernalNick, @74C17N3P7UN3, @MarcoMattei04

.github/CODEOWNERS:

# GitHub documentation about code owners here:
# https://help.github.com/en/articles/about-code-owners

* @mzyxnuel
/web/ @TheInfernalNick
/app/ @74C17N3P7UN3
DOCS.md @MarcoMattei04

Vite init
  app/.gitignore
  app/assets/logos/adaptive-icon.png
  app/index.html
  app/package.json
  app/pnpm-lock.yaml
  app/postcss.config.js
  app/public/favicon.png
  app/src/App.css
  app/src/App.tsx
  app/src/assets/icons/apple.png
  app/src/assets/icons/google.png
  app/src/assets/index.ts
  app/src/assets/logos/black/1024.png
  app/src/assets/logos/black/128.png
  app/src/assets/logos/black/256.png
  app/src/assets/logos/black/512.png
  app/src/assets/logos/black/64.png
  app/src/assets/logos/icon-round.png
  app/src/assets/logos/icon.png
  app/src/assets/logos/white/1024.png
  app/src/assets/logos/white/128.png
  app/src/assets/logos/white/256.png
  app/src/assets/logos/white/512.png
  app/src/assets/logos/white/64.png
  app/src/main.tsx
  app/src/types/env.d.ts
  app/tailwind.config.ts
  app/tsconfig.json
  app/tsconfig.node.json
  app/vite.config.ts
Owners: @74C17N3P7UN3

Added react-router
  app/index.html
  app/package.json
  app/pnpm-lock.yaml
  app/postcss.config.js
  app/src/App.tsx
  app/src/main.tsx
  app/src/routes/Root.tsx
  app/src/routes/index.ts
  app/vite.config.ts
Owners: @74C17N3P7UN3

Small additions
  .vscode/settings.json
  app/package.json
  app/pnpm-lock.yaml
  app/src/App.css
  app/src/assets/index.ts
  app/tailwind.config.ts
Owners: @mzyxnuel, @74C17N3P7UN3

Added welcome screen
  app/src/App.tsx
  app/src/components/WelcomeButton.tsx
  app/src/components/index.ts
  app/src/loaders/index.ts
  app/src/loaders/protectedLoader.ts
  app/src/routes/Root.tsx
  app/src/routes/app/Home.tsx
  app/src/routes/auth/Welcome.tsx
  app/src/routes/index.ts
Owners: @74C17N3P7UN3

Wrapper and error page
  app/src/App.tsx
  app/src/components/WelcomeButton.tsx
  app/src/hoc/Wrapper.tsx
  app/src/hoc/index.ts
  app/src/routes/ErrorPage.tsx
  app/src/routes/auth/Welcome.tsx
  app/src/routes/index.ts
Owners: @74C17N3P7UN3

Organized components
  app/src/components/button/WelcomeButton.tsx
  app/src/components/button/index.ts
  app/src/components/index.ts
  app/src/components/loading/LoadingOverlay.tsx
  app/src/components/loading/SpinnerText.tsx
  app/src/components/loading/index.ts
Owners: @74C17N3P7UN3

Firebase AuthContext
  app/package.json
  app/pnpm-lock.yaml
  app/src/App.tsx
  app/src/contexts/AuthContext.tsx
  app/src/contexts/Providers.tsx
  app/src/contexts/index.ts
  app/src/hoc/Wrapper.tsx
  app/src/libraries/firebase.ts
  app/src/loaders/index.ts
  app/src/loaders/protectedLoader.ts
  app/src/routes/app/Home.tsx
Owners: @74C17N3P7UN3

Code refactoring
  app/src/components/button/index.ts
  app/src/components/index.ts
  app/src/components/loading/index.ts
  app/src/hoc/Wrapper.tsx
  app/src/libraries/firebaseErrors.ts
  app/src/routes/index.ts
  app/src/routes/onboarding/Welcome.tsx
Owners: @74C17N3P7UN3

Added signup
  app/src/App.tsx
  app/src/components/button/BackButton.tsx
  app/src/components/index.ts
  app/src/components/input/Input.tsx
  app/src/contexts/AuthContext.tsx
  app/src/routes/index.ts
  app/src/routes/onboarding/Interests.tsx
  app/src/routes/onboarding/Signin.tsx
  app/src/routes/onboarding/Signup.tsx
  app/src/routes/onboarding/Welcome.tsx
Owners: @74C17N3P7UN3

Added signin
  app/src/contexts/AuthContext.tsx
  app/src/libraries/firebaseErrors.ts
  app/src/routes/onboarding/Signin.tsx
Owners: @74C17N3P7UN3

Added search for interests
  web/src/algorithms/supernova.ts
Owners: @TheInfernalNick

Added missing element
  app/src/components/input/Input.tsx
  app/src/routes/onboarding/Signin.tsx
Owners: @74C17N3P7UN3

Added forgot password
  app/src/App.tsx
  app/src/routes/index.ts
  app/src/routes/onboarding/ForgotPassword.tsx
  app/src/routes/onboarding/Signin.tsx
Owners: @74C17N3P7UN3

Added Icons
  app/src/assets/icons/GroupChatEmpty.svg
  app/src/assets/icons/Lock.svg
  app/src/assets/icons/PasswordSecure.svg
  app/src/assets/icons/chat.svg
  app/src/assets/icons/chatEmpty.svg
  app/src/assets/icons/denied.svg
Owners: @74C17N3P7UN3

Updated route names
  app/src/App.tsx
  app/src/routes/onboarding/Signin.tsx
  app/src/routes/onboarding/Signup.tsx
  app/src/routes/onboarding/Welcome.tsx
Owners: @74C17N3P7UN3

Added interests
  app/src/components/button/InterestButton.tsx
  app/src/components/index.ts
  app/src/routes/onboarding/Interests.tsx
Owners: @74C17N3P7UN3

Added promise
  web/src/algorithms/supernova.ts
  web/src/routes/user/route.ts
Owners: @TheInfernalNick

Confirm email for psw reset
  app/src/routes/onboarding/ForgotPassword.tsx
Owners: @74C17N3P7UN3

Updated interests page
  app/src/routes/onboarding/Interests.tsx
Owners: @74C17N3P7UN3

Added profile page ui
  app/src/App.tsx
  app/src/routes/index.ts
  app/src/routes/onboarding/Profile.tsx
  app/src/routes/onboarding/Welcome.tsx
Owners: @74C17N3P7UN3

Fixed interests page
  app/src/App.css
  app/src/routes/onboarding/Interests.tsx
  app/tailwind.config.ts
Owners: @74C17N3P7UN3

Finished profile page
  app/src/libraries/firebase.ts
  app/src/routes/onboarding/Profile.tsx
Owners: @74C17N3P7UN3

Added confirm logic
  app/src/App.tsx
  app/src/contexts/AuthContext.tsx
  app/src/hoc/Wrapper.tsx
  app/src/routes/index.ts
  app/src/routes/onboarding/Confirmation.tsx
  app/src/routes/onboarding/Signup.tsx
Owners: @74C17N3P7UN3
